body {
    background-image: url("force-bg.jpeg");
    background-size: cover;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(214, 209, 209);
}

.container {
max-width: 80%;
margin: auto;
padding-top: 5rem;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 0 0 4px black;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 0 0 4px black;
}

button {
    border: .1rem dashed orange;
    padding: 7px 5px;
    color: white;
    font-weight: bold;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(1, 92, 25);
}

#decrement-btn {
    background: darkred;
}

#save-btn {
    background: rgb(23, 0, 100);
}

#save-el {
    text-shadow: 0 0 4px black;
}

